.player {
	width: 900px;
	height: 500px;
	border: solid 5px white;
	margin: 0 auto 50px auto;
	position: relative;
	background-color: maroon;
	opacity: .8;
}

.loading {
	width: 300px;
	position: absolute;
	top: 70px;
	left: 300px;
}

#song-list {
	margin-bottom: 0;
	height: 440px;
	overflow: auto;
}

.controls {
	position: absolute;
	bottom: 0%;
	border-top: solid 5px white;
	width: 900px;
	height: 60px;
	background-color: black
}

.buttons {
	margin: auto;
	width: 248px;
	height: 60px;
	border-right: solid 5px white;
	border-left: solid 5px white;
}

.player-buttons {
	padding: 0 10px;
	height: 60px;
	width: auto;
}

.hidden {
	visibility: hidden;
}

.playlist-link {
	font-family: "Helvetica" Arial Sans-Serif;
	font-size: 200%;
}

#edit-playlist {
	float: right;
	right: 0;
}

#song-list {
	margin: 0;
	padding: 0;
}

.playlist-song {
	display: inline-block;
	height: 58px;
	width: 885px;
	border-bottom: 2px solid white;
	margin-top: -3px;
	padding-right: 15px;
}

#details {
	float: right;
	height: 58px;
	width: 805px;
	vertical-align: middle
}

.song-icon {
	height: 58px;
	display: inline-block;
}

.song-info {
	text-align: center;
	float: right;
	margin: 0;
	width: 800px;
	padding: 7px;
}

.playing {
	background-color: silver;
}

.playing h3 {
	color: black;
	text-shadow:
	    -1px -1px 0 white,
	    1px -1px 0 white,
	    -1px 1px 0 white,
	    1px 1px 0 white;
}

.edit-playlist {
	width: 700px;
	margin: 100px auto
}

#rename {
	font-family: "Helvetica" Arial Sans-Serif;
	font-size: 525%;
}

#update {
	width: 650px;
}